 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="bar-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>What I Do</h3>
                    <p>I make responsive, modern websites that meet my clients' needs. I'm constantly improving my tookit by learning new technologies and techniques that help me work more efficiently and deliver better products. I love to take ownership of my work and produce something I can be proud of, and working with a team that shares those values is super important to me.</p>
               
                    <p>My expertise is in the front end, but I can speak server admin when the need arises. When I'm not coding, I'm an avid hiker, seeker of good coffee, and all-around geek.  </p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h3>Hard Skills</h3>
                    <ul>
                        <li>HTML5 &amp; CSS3</li>
                        <li>Javascript, vanilla &amp; frameworks (jQuery, Angular)</li>
                        <li>JS API's - Facebook, Twitter, Instagram, Google maps, etc.</li>
                        <li>Responsive &amp; Cross-Browser Development</li>
                        <li>Progressive Enhancement/Graceful Degradation</li>
                        <li>SEO best practices</li>
                        <li>Wordpress Development</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Soft Skills</h3>
                    <ul>
                        <li>Time Management</li>
                        <li>Wireframing and Site Maps</li>
                        <li>Collaboration</li>
                        <li>Patience</li>
                        <li>Clear Communication</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>