 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="bar-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h3>Who I Am</h3>
                    <p>I’m a driven front end web developer with almost 3 years of experience in website development. My passion is web tech &amp; creating clean, usable sites with great UI. I can write solid and well organized code from scratch with a focus on keep pushing new technologies that better assist people in their everyday lives.</p>
                    <p>Outside of my dayjob, I code for fun on <a href="http://codepen.io/ahoy/" target="_blank">Codepen</a> and love live music and the outdoors.</p>
                </div>
                <div class="col-md-4">
                    <h3>What I Do</h3>
                    <p>I make responsive, modern websites that meet my clients' needs. I'm constantly improving my tookit by learning new technologies and techniques that help me work more efficiently and deliver better products. I love to take ownership of my work and produce something I can be proud of, and working with a team that shares those values is super important to me.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h3>Hard Skills</h3>
                    <ul>
                        <li>html5 &amp; css3</li>
                        <li>javascript</li>
                        <li>jQuery</li>
                        <li>responsive development</li>
                        <li>social api's &amp; google api's</li>
                        <li>graceful degredation/progressive enhancement</li>
                        <li>SEO best practices</li>
                        <li>wordpress</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Soft Skills</h3>
                    <ul>
                        <li>time management</li>
                        <li>problem solving</li>
                        <li>collaboration</li>
                        <li>patience</li>
                        <li>clear, open communication</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>